<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand text-color navbar-header font-brand">
                <a style="text-decoration:none; color:navy;"  href="#/"><strong>BookHub</strong></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <a href="#/user/profile">

                        <span class="glyphicon glyphicon-user"></span> My Profile
                    </a></li>

                <li class="nav-item">
                    <a href="#/user/addbook">

                        <span class="glyphicon glyphicon-bell"></span> Share/Add Books
                    </a></li>

                <li class="nav-item">
                    <a href="#/user/booksearch">

                        <span class="glyphicon glyphicon-gift"></span> BookRepo
                    </a></li>

                <li class="nav-item">
                    <a href="#/user/myalerts">

                        <span class="glyphicon glyphicon-bell"></span> My Alerts
                    </a></li>

                <li class="nav-item ">
                    <a href="#/user/mystats">

                        <span class="glyphicon glyphicon-stats"></span> My Stats

                    </a></li>
                <li class="nav-item">
                    <a href="" ng-click="model.logout()" >

                        <span class="glyphicon glyphicon glyphicon-log-out" ></span> Logout
                    </a></li></ul>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="input-group container">
        <input ng-model="model.bookTitle" placeholder="enter book title here..." type="text" class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchBook()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
            </a>
            </span>
    </div><!--
    <div class="col-sm-12 hidden-xs">
        <div class="col-xs-12">
            <input type="text" ng-model="model.userId">UserId
        </div>
        <div class="col-xs-7">
            <input ng-model="model.searchText" type="text" class="pull-right">
        </div>
        <div class="col-xs-5">
            <button class="btn btn-primary" ng-click="model.searchBook()">Search Book</button>
        </div>
    </div>-->
    <div class="dropdown btn-block btn-primary margin-fix-main">
        <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">Category
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="model.getBookListingMobile(opt)" ng-repeat="opt in model.genreListings">{{opt}}</a></li>
        </ul>
    </div>
    <div class="visible-xs">
        <div class="col-xs-12">

            <input ng-model="model.searchText" type="text" class="" style="width:160px;">
            <div class="dropdown pull-right" style="padding-left: 5px; top:2px;">
                <button onclick="myFunction()" class="dropbtn">
                    <span class="dropbtn glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <strong>Sort By:</strong><br>
                    <a ng-click="model.getSortListingMobile(opt)" ng-repeat="opt in model.sortListings">{{opt}}</a>
                </div>
            </div>
            <div class="">
                <input type="text" ng-model="model.userId">UserId
            </div>
            <button class="pull-right" ng-click="model.searchBook()">Search</button>
        </div>
    </div>
    <br><br>
    <div class="col-xs-12 border hidden-xs">
        <div class="col-xs-3 border">
            <strong>Sort By:</strong><br>
            <select  ng-options="option for option in model.sortListings" ng-model="model.sortBy" ng-change="model.getSortedListing()">
            </select>
        </div>
        <div class="col-xs-9 border">
            <div class="col-xs-12" style="text-align: center"><strong><p>Books in DB</p></strong></div>
            <div ng-show="model.error">{{model.error}}</div>
            <div id="div_book_listing" ng-repeat="book in model.books | orderBy:model.sort:model.reverse" ng-show="model.books">
<div class="col-xs-12">
                <div class="col-xs-3" >
                    <img src="{{book.imgsrc}}" class="listing-image border">
                    <br><br>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12">
                        <a href ng-click="model.viewDetails(book._id)" ></a><p>Title: {{book.title}}<br>
                            Author: {{book.author}}<br>
                            Price: {{book.price}}
Description:{{book.description}}<br>
                                Notes:{{book.notes}}
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-success" ng-click="model.requestBook(book)">Request Book</button><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="col-xs-9 border">
            <div class="col-xs-12" style="text-align: center"><strong><p>Seller Books in DB</p></strong></div>
            <div ng-show="model.error">{{model.error}}</div>
            <div id="div_sellerBook_listing" ng-repeat="sellerBook in model.sellerBooks | orderBy:model.sort:model.reverse" ng-show="model.sellerBooks">
                <div class="col-xs-12">
                    <div class="col-xs-3" >
                        <img src="{{sellerBook.imgsrc}}" class="listing-image border">
                        <br><br>
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-12">
                            <p>Title: <a href="#/seller/book/viewbook?sellerBookId={{sellerBook._id}}"> {{sellerBook.title}} </a><br>
                                Author: {{sellerBook.author}}<br>
                                Price: {{sellerBook.price}}<br>
                                Description:{{sellerBook.description}}<br>
                                Shop Name: {{sellerBook.shopName}}<br>
                                Shop Location: {{sellerBook.shopLocation}}<br>
                                Shop Email: {{sellerBook.shopEmail}}<br>
                                Shop Phone: {{sellerBook.shopPhone}}<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>
<div class="col-xs-12 border visible-xs">

    <div class="col-xs-12" style="text-align: center">
        <strong><p>Books in DB</p></strong>
    </div>
    <div ng-show="model.error">{{model.error}}</div>
    <div id="div_book_listing_mobile" ng-repeat="book in model.books | orderBy:model.sort:model.reverse" ng-show="model.books">
        <div class="col-xs-3" >
            <img src="{{book.imgsrc}}" class="listing-image border">
            <br><br>
        </div>
        <div class="col-xs-9">
            <div class="col-xs-12">
                <p>Title: {{book.title}}<br>
                    Author: {{book.author}}<br>
                    Price: {{book.price}}<br>
                    Description:{{book.description}}<br>
                    Notes:{{book.notes}}
                </p>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-block btn-success" ng-click="model.requestBook(book)">Request Book</button><br><br>
            </div>
        </div>
    </div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <!--<a href="#/user/{{model.user._id}}">-->
        <!--<div class="navbar-text pull-right">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
        <!--</div>-->
        <!--</a>-->
    </div>
</nav>
