<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <a href="#/register">
            <div class="navbar-text pull-right" href="#/register">
                Register
            </div>
        </a>
        <a href="#login">
            <div class="navbar-text pull-right">
                Login
            </div>
        </a>
        <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#/user/{{model.user._id}}">Profile</a>-->
        <!--</div>-->
    </div>
</nav>

<div class="container-fluid">
    <div class="col-xs-12">
        <div class="col-xs-7">
            <input id="id_input_search_book" type="text" class="pull-right">
        </div>
        <div class="col-xs-5">
            <button class="btn btn-primary">Search Book</button>
        </div>
    </div>
    <br><br>
    <div class="col-xs-12 border">
        <div class="col-xs-3 border">
            <strong>Sort By:</strong><br>
            <select ng-options="option for option in model.sortListings" ng-model="model.sortBy" ng-change="model.getSortedListing()">
            </select>
        </div>
        <div class="col-xs-9 border">
            <strong>Books in DB</strong><br>
            <div ng-repeat="book in model.books" ng-show="model.books">
                <div class="col-xs-3" >
                    <div class="col-xs-12">
                        <img src="{{book.imageSrc}}" class="listing-image">
                        <br><br>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12">
                        <p>{{book.title}}<br>
                            {{book.author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <!--<a href="#/user/{{model.user._id}}">-->
        <!--<div class="navbar-text pull-right">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
        <!--</div>-->
        <!--</a>-->
    </div>
</nav>