<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <a href="#/register">
            <div class="navbar-text pull-right" href="#/register">
                Register
            </div>
        </a>
        <a href="#login">
            <div class="navbar-text pull-right">
                Login
            </div>
        </a>
        <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#/user/{{model.user._id}}">Profile</a>-->
        <!--</div>-->
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <!--<a href="#/user/{{model.user._id}}">-->
        <!--<div class="navbar-text pull-right">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
        <!--</div>-->
        <!--</a>-->
    </div>
</nav>