<!--
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid navbar-color">

        <div class="col-sm-12 hidden-xs ">


            &lt;!&ndash;<a href="#/user/{{model.user._id}}" ng-click="showDiv = true; model.message=''">&ndash;&gt;
            &lt;!&ndash;<div class="navbar-text pull-left btn navbar-color">&ndash;&gt;

            &lt;!&ndash;<span class="glyphicon glyphicon-user" ></span> Edit Profile&ndash;&gt;
            &lt;!&ndash;</div>&ndash;&gt;

            &lt;!&ndash;</a>&ndash;&gt;

            <a href="#/user/{{model.user._id}}/myreviews">
                <div class="navbar-text pull-left btn navbar-color">

                    <span class="glyphicon glyphicon-star"></span> My Reviews
                </div>
            </a>


            <a href="#/user/{{model.user._id}}/myalerts">
                <div class="navbar-text pull-left btn navbar-color">

                    <span class="glyphicon glyphicon-bell"></span> My Alerts
                </div>
            </a>

            <a href="#/user/{{model.user._id}}/mystats">
                <div class="navbar-text pull-left btn navbar-color">

                    <span class="glyphicon glyphicon-stats"></span> My Stats
                </div>
            </a>

            <a href="#/login">
                <div class="navbar-text pull-right btn navbar-color">

                    <span class="glyphicon glyphicon glyphicon-log-out" ></span> Logout
                </div>

            </a>

        </div>


        <div class="dropdown pull-right col-sm-4 visible-xs padding-top">
            <div id="myDropdown" class="dropdown-content navbar-color">

                &lt;!&ndash;<a href="#/user/{{model.user._id}}" ng-click="showDiv = true; model.message=''">&ndash;&gt;
                &lt;!&ndash;<div class="navbar-text pull-left btn navbar-color">&ndash;&gt;
                &lt;!&ndash;<span class="glyphicon glyphicon-user" ></span> Edit Profile&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</a>&ndash;&gt;

                <a href="#/user/{{model.user._id}}/myreviews">
                    <div class="navbar-text pull-left btn navbar-color">
                        <span class="glyphicon glyphicon-star"></span> My Reviews
                    </div>
                </a>


                <a href="#/user/{{model.user._id}}/myalerts">
                    <div class="navbar-text pull-left btn navbar-color">
                        <span class="glyphicon glyphicon-bell"></span> My Alerts
                    </div>
                </a>

                <a href="#/user/{{model.user._id}}/mystats">
                    <div class="navbar-text pull-left btn navbar-color">
                        <span class="glyphicon glyphicon-stats"></span> My Stats
                    </div>
                </a>
            </div>

        </div>

        <a href="#/login" class=" visible-xs">
            <div class="navbar-text pull-right btn navbar-color">

                <span class="glyphicon glyphicon glyphicon-log-out" ></span> Logout
            </div>
        </a>
    </div>
</nav>
-->
<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md ">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#/"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div></div></div>
</nav>

<div class="container-fluid padding-top">
<!--
    <div class="col-xs-12 border">Title in Bolds</div>
    <div class="col-xs-12 border ">
        <div class="col-xs-12" style="text-align: center"><strong><p>{{model.sellerbook.title}}</p></strong></div>
        <div ng-show="model.error">{{model.error}}</div>
        <div>
            <div class="col-xs-12">
                <div class="col-xs-12" >
                    <img src="{{model.sellerbook.imglrgsrc}}" class="listing-image border">
                    <br><br>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <p>Title: {{model.sellerbook.title}}<br>
                            Author: {{model.sellerbook.author}}<br>
                            Price: {{model.sellerbook.price}}<br>
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <p><strong>Seller Details:</strong><br>
                            Shop Name: {{model.sellerbook.shopName}}<br>
                            Email ID: {{model.sellerbook.shopEmail}}<br>
                            Phone: {{model.sellerbook.shopPhone}}<br>
                            Location: {{model.sellerbook.shopLocation}}
                        </p>
                    </div>
                </div>
                &lt;!&ndash;<div class="col-xs-12" ng-hide="model.reviews">Be the first to review:<br>&ndash;&gt;
                &lt;!&ndash;<textarea ng-model="model.comment"></textarea><br>&ndash;&gt;
                &lt;!&ndash;<button ng-click="model.postReview()">Post</button>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
            </div>
        </div>
    </div>
</div>
-->
    <h1 class="col-xs-12">Book and Shop Details</h1>
    <div class="col-xs-12">
        <div class="thumbnail container details-page">
            <div class="col-xs-12" style="text-align: center"><strong><h3 class="well"><b>Title:</b> {{model.sellerbook.title}}</h3></strong></div>
            <img class="card-img-top same-height-details" src="{{model.sellerbook.imglrgsrc}}" />
            <div class="card-block details-page text-align-all">
                <ul class="details-list">
                    <li>
                        <h3 class="card-text">
                            <label class="label label-info">
                                <span class="glyphicon glyphicon-user"></span>
                                Author
                            </label></h3>
                        <h3 class="card-text">{{model.sellerbook.author}}</h3>
                    </li>

                    <li>
                        <h3 class="card-text">
                            <label class="label label-info">
                                <span class="glyphicon glyphicon-usd"></span>
                                Price
                            </label></h3>
                        <h3 class="card-text"> {{model.sellerbook.price}}</h3>
                    </li>

                    <li  >

                        <h3 class="card-text">
                            <label class="label label-danger">
                                <span class="glyphicon glyphicon-align-justify"></span>
                                <strong>Seller Details</strong>
                            </label></h3>
                    </li>

                    <li>

                        <h3 class="card-text">
                            <label class="label label-primary">
                                <span class="glyphicon glyphicon glyphicon-bookmark"></span>
                                Shop Name
                            </label></h3>
                        <h3 class="card-text"> {{model.sellerbook.shopName}}</h3>
                    </li>

                    <li>

                        <h3 class="card-text">
                            <label class="label label-primary">
                                <span class="glyphicon glyphicon glyphicon-bookmark"></span>
                                Email Id
                            </label></h3>
                        <h3 class="card-text"> {{model.sellerbook.shopEmail}}</h3>
                    </li>

                    <li>

                        <h3 class="card-text">
                            <label class="label label-primary">
                                <span class="glyphicon glyphicon glyphicon-bookmark"></span>
                                Phone
                            </label></h3>
                        <h3 class="card-text"> {{model.sellerbook.shopPhone}}</h3>
                    </li>

                    <li>

                        <h3 class="card-text">
                            <label class="label label-primary">
                                <span class="glyphicon glyphicon glyphicon-bookmark"></span>
                                Location
                            </label></h3>
                        <h3 class="card-text"> {{model.sellerbook.shopLocation}}</h3>
                    </li>
                </ul></div>
            <!--<div class="card-block alert-warning details-page">

                <div class="col-xs-12" ng-show="model.userRating==-1" ng-if="model.user.role=='user'"><label>Provide Rating(0 to 5)</label>

                    <input class="form-control" type="number" min="0" max="5" ng-model="model.newRating">

                    <button class="form-control btn-details btn btn-block btn-warning" ng-click="model.setUserRating(model.book._id)">Rate</button><br>

                </div>
                <div class="col-xs-12">
                    <label  class="label label-warning">
                        <span class="glyphicon glyphicon glyphicon-star"></span>
                        Book Rating: {{model.book.averageRating}}
                    </label><br>
                    <label  class="label label-warning">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        Book Rated by: {{model.book.ratingCount}} Users</label></div>
                <div class="col-xs-12" ng-show="model.reviews">
                    <div ng-show="model.userRating>-1">
                        <label class="text-primary" ng-if="model.user.role=='user'"> &lt;!&ndash;ng-show="model.userId"&ndash;&gt;
                            <span class="text-info glyphicon glyphicon-star">

                    </span>
                            You rated this book a {{model.userRating}} of 5</label>
                    </div>
                    <div ng-if="model.user.role=='user'">&lt;!&ndash;ng-show="model.userId"&ndash;&gt;
                        <strong>Reviews | Comments:</strong><br>
                        <textarea class="form-control" rows="2"  ng-model="model.comment"></textarea>
                        <button ng-click="model.postReview()" class="form-control btn-details btn btn-block btn-success">Post</button><br>
                    </div>

                    <div ng-if="model.user.role!='user'">&lt;!&ndash;ng-hide="model.userId" &ndash;&gt;
                        <strong>Reviews | Comments:</strong><br>
                        <textarea placeholder="please log in" class="form-control" rows="2"  ng-model="model.comment"></textarea>
                        <button disabled ng-click="model.postReview()" class="form-control btn-details btn btn-block btn-danger">Please login to post</button><br>
                    </div>


                    <div ng-repeat="review in model.reviews">
                        <div class="well alert alert-default">
                            <div><label class="form-control label label-success">{{review.commentor}}</label></div>
                            <div><label class="cool-fonts">{{review.comment}}</label><br><label class="text-muted"><span class="glyphicon glyphicon-calendar"> {{review.dateCreated}}</span></label></div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
    </div>
</nav>
