<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand text-color navbar-header font-brand">
                <a style="text-decoration:none; color:navy;"  href="#/"><strong>BookHub</strong></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <a href="#/user/profile">

                        <span class="glyphicon glyphicon-user"></span> My Profile
                    </a></li>

                <li class="nav-item">
                    <a href="#/user/addbook">

                        <span class="glyphicon glyphicon-bell"></span> Share/Add Books
                    </a></li>

                <li class="nav-item">
                    <a href="#/">

                        <span class="glyphicon glyphicon-gift"></span> BookRepo
                    </a></li>

                <li class="nav-item">
                    <a href="#/user/myalerts">

                        <span class="glyphicon glyphicon-bell"></span> My Alerts
                    </a></li>

                <li class="nav-item ">
                    <a href="#/user/mystats">

                        <span class="glyphicon glyphicon-stats"></span> My Stats

                    </a></li>
                <li class="nav-item">
                    <a href="" ng-click="model.logout()" >

                        <span  class="glyphicon glyphicon glyphicon-log-out" ></span> Logout
                    </a></li></ul>
        </div>

    </div>
</nav>


<div class="container-fluid padding-top">
    <div class="col-xs-12 well "><h3>Pending Requests/Books Requested</h3></div>
    <div class="col-xs-12  ">
        <div class="col-xs-12 alert alert-info" style="text-align: center"><strong><h4>Requests for Books</h4></strong></div>
        <div ng-show="model.error">{{model.error}}</div>
 <!--       <div id="div_requested_book_listing" ng-repeat="book in model.requestedBooks | orderBy:model.sort:model.reverse" ng-show="model.requestedBooks">
            <div class="col-xs-3" >
                <img src="{{book.imgsrc}}" class="listing-image border">
                <br><br>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-6">
                    <p>Title: {{book.title}}<br>
                        Author: {{book.author}}<br>
                        Price: {{book.price}}
                    </p>
                </div>
                <div class="col-xs-6">
                    <p>Username: {{book.username}}<br>
                        Email: {{book.email}}<br>
                        Description:{{book.description}}
                    </p>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-block btn-success" ng-click="model.updateRequest(book,1)">Accept</button>
                    <button class="btn btn-block btn-danger" ng-click="model.updateRequest(book,0)">Reject</button><br><br>
                </div>
            </div>
        </div> -->
        <div class="row container-fluid desk-view">
            <div class="col-sm-4 col-md-3" id="div_book_listing"ng-repeat="book in model.requestedBooks | orderBy:model.sort:model.reverse" ng-show="model.requestedBooks">
                <div class="thumbnail">
                    <img class="card-img-top same-height" src="{{book.imglrgsrc}}" style="width:100%"/>
                    <div class="card-block same-height-books-requests">
                        <div class="scroller"><a href ng-click="model.viewDetails(book._id)"><h4 class="card-title">{{book.title}}</h4></a></div>
                        <p class="card-text">Author: {{book.author}}</p>
                        <p class="card-text">Price: ${{book.price}}</p>
                        <div class="height-fix-requested">
                            <div class="form-group">
                                <p class="card-text">Username: {{book.username}}</p>
                                <p class="card-text">Email: {{book.email}}</p>
<!--
                                <p class="card-text">Description: {{book.description}}</p>
-->
                                <div class="col-xs-12">
                                    <button class="btn btn-block btn-success" ng-click="model.updateRequest(book,1)">Accept</button>
                                    <button class="btn btn-block btn-danger" ng-click="model.updateRequest(book,0)">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 alert alert-info" style="text-align: center"><strong><h4>Books requested by you</h4></strong></div>
        <div ng-show="model.error">{{model.error}}</div>
        <div class="row container-fluid desk-view">
            <div class="col-sm-4 col-md-3" id="div_requested_book_listing"ng-repeat="book in model.requestedForBooks | orderBy:model.sort:model.reverse" ng-show="model.requestedForBooks">
                <div class="thumbnail">
                    <img class="card-img-top same-height" src="{{book.imglrgsrc}}" style="width:100%"/>
                    <div class="card-block same-height-books-requested">
                        <div class="scroller"><a href ng-click="model.viewDetails(book._id)"><h4 class="card-title">{{book.title}}</h4></a></div>
                        <p class="card-text">Author: {{book.author}}</p>
                        <p class="card-text">Price: ${{book.price}}</p>

                        <div class="height-fix-requested">
                            <div class="form-group">
                                <p class="card-text">Username: {{book.username}}</p>
                                <p class="card-text">Email: {{book.email}}</p>
                              <!--  <p class="card-text">Description: {{book.description}}</p>
-->
                            </div>
                            <div class="col-xs-12 badge badge-primary">
                                <strong>Pending</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div id="div_requested_for_book_listing" ng-repeat="book in model.requestedForBooks | orderBy:model.sort:model.reverse" ng-show="model.requestedForBooks">
            <div class="col-xs-3" >
                <img src="{{book.imgsrc}}" class="listing-image border">
                <br><br>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-6">
                    <p>Title: {{book.title}}<br>
                        Author: {{book.author}}<br>
                        Price: {{book.price}}
                    </p>
                </div>
                <div class="col-xs-6">
                    <p>Username: {{book.username}}<br>
                        Email: {{book.email}}<br>
                        Description:{{book.description}}
                    </p>
                </div>
                <div class="col-xs-12 bg-success">
                    Pending...<br><br>
                </div>
            </div>
        </div>-->
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-toggleable-md">
</nav>
