<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid navbar-color">-->
        <!--<div>-->
            <!--<a class="navbar-brand glyphicon glyphicon-chevron-left" href="#/">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<!--<div class="container padding-top">-->
    <!--&lt;!&ndash;<div class="text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../../../images/icons/book.png" class="img-thumbnail">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<h1 class="">Add Book</h1>-->

    <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">-->
        <!--<div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-book text-color"></span></div>-->
        <!--<input ng-model="event.eventname"-->
               <!--class="form-control divTransparent text-color"-->
               <!--placeholder="Book name"/>-->
    <!--</div>-->

    <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">-->
        <!--<div class="input-group-addon divTransparent "><span class="glyphicon glyphicon-tags text-color"></span></div>-->

        <!--<input ng-model="event.description"-->
                  <!--class="form-control divTransparent text-color"-->
                  <!--placeholder="Book genre">-->
    <!--</div>-->

    <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">-->
        <!--<div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-user text-color"></span></div>-->
        <!--<input ng-model="event.date"-->
               <!--class="form-control divTransparent text-color"-->
               <!--placeholder="Author"-->
               <!--class="form-control" />-->
    <!--</div>-->

    <!--&lt;!&ndash;<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-pushpin text-color"></span></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<input ng-model="model.event.location"&ndash;&gt;-->
               <!--&lt;!&ndash;class="form-control divTransparent controls text-color"&ndash;&gt;-->
               <!--&lt;!&ndash;id="pac-input"&ndash;&gt;-->
               <!--&lt;!&ndash;placeholder="Shop Address"/>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<input  placeholder="Search Box" ng-model="model.event.location">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


    <!--<div>-->

    <!--<a class="btn btn-success btn-block"-->
       <!--ng-click="model.addBook()">Add</a>-->
<!--</div>-->

    <!--&lt;!&ndash;<div style="height: 500px;width:1140px" class="padding-top">&ndash;&gt;-->

        <!--&lt;!&ndash;<div id="map"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--</div>-->

<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">BookHub</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item ">
                    <a href="#/seller/profile">

                        <span class="glyphicon glyphicon-user"></span> Edit Profile


                    </a></li>

                <li class="nav-item">
                    <a href="#/seller/addbook">

                        <span class="glyphicon glyphicon-plus"></span> Add Book
                    </a></li>

                <li class="nav-item ">
                    <a href="#/seller/myinventory">

                        <span class="glyphicon glyphicon-book"></span> My Inventory

                    </a></li>
                <li class="nav-item">
                    <a href="" ng-click="model.logout()" >

                        <span class="glyphicon glyphicon glyphicon-log-out" ></span> Logout
                    </a></li></ul>

        </div>

    </div>
</nav>

<!--<div class="container-fluid">-->
    <!--<div class="col-xs-12 border">-->
        <!--<div class="col-xs-7 hidden-xs">-->
            <!--<input ng-model="model.bookTitle" type="text" class="pull-right">-->
        <!--</div>-->
        <!--<div class="col-xs-5 hidden-xs">-->
            <!--<button class="btn btn-primary" ng-click="model.searchBook()">Search Book</button>-->
        <!--</div>-->
        <!--<div class="visible-xs">-->
            <!--<input ng-model="model.bookTitle" type="text" class="searchInputWidth">-->
            <!--<button class="btn btn-primary" ng-click="model.searchBook()">Search Book</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 border ">-->
        <!--<div class="col-xs-12" style="text-align: center"><strong><p>Available Books</p></strong></div>-->
        <!--<div ng-show="model.error">{{model.error}}</div>-->
        <!--<div id="div_book_listing" ng-repeat="book in model.books | orderBy:model.sort:model.reverse" ng-show="model.books">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="col-xs-3" >-->
                    <!--<img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="listing-image">-->
                    <!--&lt;!&ndash;<img src="{{book.imgsrc}}" class="listing-image border">&ndash;&gt;-->
                    <!--<br><br>-->
                <!--</div>-->
                <!--<div class="col-xs-9">-->
                    <!--<div class="col-xs-12">-->
                        <!--<p>Title: {{book.volumeInfo.title}}<br>-->
                            <!--Author: {{book.volumeInfo.authors[0]}}<br>-->
                            <!--Add Price: <input type="number" id="sellerbookprice{{book.id}}" required><br>-->
                            <!--Add Description:<br>-->
                            <!--<textarea id="sellerbookdesc{{book.id}}" placeholder="Add notes here"></textarea>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->

                        <!--<button ng-click="model.addBook(book)" class="btn btn-block btn-success">Add book</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12" style="text-align: center"><strong><p>Shared Books</p></strong></div>-->
        <!--<div ng-show="model.error">{{model.error}}</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->



<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container-fluid bg-primary">-->
    <!--</div>-->
<!--</nav>-->




<div class="container-fluid">

    <div class="input-group container">
        <input ng-model="model.bookTitle" placeholder="enter book title here..." type="text" class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchBook()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
            </a>
            </span>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-12 margin-fix ">
            <div class="col-xs-12 well" style="text-align: center" ng-show="model.books"><strong>Add Books</strong></div>
            <div ng-show="model.error"> {{model.error}}</div>
            <div class="row container-fluid desk-view">
                <div class="col-sm-4 col-md-3" id="div_book_listing" ng-show="model.books" ng-repeat="book in model.books">
                    <div class="thumbnail">
                        <img class="card-img-top same-height" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" style="width:100%"/>
                        <div class="card-block same-height-books">
                            <div class="scroller">
                            <h4 class="card-title ">{{book.volumeInfo.title}}</h4>
                            </div>
                                <p class="card-text">{{book.volumeInfo.authors[0]}}</p>
                            <div class="height-fix">
                                <div class="form-group">
                                    <input type="number" class="col-xs-12" placeholder="enter price" id="sellerbookprice{{book.id}}" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="col-xs-12" id="sellerbookdesc{{book.id}}" placeholder="Add description here"></textarea>
                                </div>
                                <div class="form-group">
                                    <button ng-click="model.addBook(book)" class="btn btn-block btn-success">Add book</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="model.error">{{model.error}}</div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-toggleable-md">
</nav>