<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="row container-fluid navbar-color">-->

        <!--<div class="col-sm-12 hidden-xs ">-->


            <!--&lt;!&ndash;<a href="#/user/{{model.user._id}}" ng-click="showDiv = true; model.message=''">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="navbar-text pull-left btn navbar-color">&ndash;&gt;-->

            <!--&lt;!&ndash;<span class="glyphicon glyphicon-user" ></span> Edit Profile&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;</a>&ndash;&gt;-->


        <!--</div>-->





    <!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand text-color navbar-header font-brand">
                <a style="text-decoration:none; color:navy;"  href="#/"><strong>BookHub</strong></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="nav-item">-->
                    <!--<a ng-click="model.logout()" >-->

                        <!--<span class="glyphicon glyphicon glyphicon-log-out" ></span> Logout-->
                    <!--</a></li></ul>-->

        </div>

    </div>
</nav>


<!--<div class="container-fluid padding-top">-->
    <!--<div class="col-xs-12 border">Title in Bolds</div>-->
    <!--<div class="col-xs-12 border ">-->
        <!--<div class="col-xs-12" style="text-align: center"><strong><p>Events</p></strong></div>-->
        <!--<div ng-show="model.error">{{model.error}}</div>-->
        <!--<div id="div_requested_event_listing" ng-repeat="event in model.allEvents" ng-show="model.allEvents">-->
            <!--<div class="col-xs-9">-->
                <!--<div class="col-xs-12">-->
                    <!--&lt;!&ndash;<p>eventName: {{event.eventName}}<br>&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ><br>&ndash;&gt;-->
                        <!--&lt;!&ndash;Description:{{event.eventDescription}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ><br>&ndash;&gt;-->
                            <!--&lt;!&ndash;Location:{{event.eventLocation}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ><br>&ndash;&gt;-->
                        <!--&lt;!&ndash;Date:{{event.eventDate}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ><br>&ndash;&gt;-->
                        <!--&lt;!&ndash;Time:{{event.eventTime}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div >&ndash;&gt;-->
                        <!--&lt;!&ndash;<button  class="btn btn-block btn-success" ng-click="model.redirect()">Update</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button class="btn btn-block btn-danger" ng-click="model.deleteEvent(event)">Delete</button><br><br>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--<div class="col-xs-9">-->
                        <!--<div class="col-xs-12">-->
                            <!--<div >Event Name: {{event.eventName}}<br>-->
                                <!--Event Description:{{event.eventDescription}}<br>-->
                                <!--Event Time: {{event.eventTime}}<br>-->
                                <!--Event Location: {{event.eventLocation}}<br>-->
                                <!--Event Date: {{event.eventDate}}<br>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 hidden" id="available{{event._id}}">-->
                            <!--You have RSVP for this event-->
                        <!--</div>-->
                        <!--<div class="col-xs-12" id="rsvpButton{{event._id}}" >-->
                            <!--<button class="btn btn-block btn-primary" ng-click="model.rsvpEvent(event)">RSVP</button><br><br>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="container-fluid padding-top">
    <div class="col-xs-12"><h2>Listing All Events</h2></div>
    <div class="col-xs-12  alert alert-info" style="text-align: center"><strong><h4>Events Near You</h4></strong></div>
    <div ng-show="model.error">{{model.error}}</div>
    <!--<p>eventName: {{event.eventName}}<br>-->
    <!--</p>-->
    <!--<div ><br>-->
    <!--Description:{{event.eventDescriptionpcoming }}</div>-->
    <!--<div ><br>-->
    <!--Location:{{event.eventLocation}}</div>-->
    <!--<div ><br>-->
    <!--Date:{{event.eventDate}}</div>-->
    <!--<div ><br>-->
    <!--Time:{{event.eventTime}}</div>-->
    <!--<div >-->
    <!--<button  class="btn btn-block btn-success" ng-click="model.redirect()">Update</button>-->
    <!--<button class="btn btn-block btn-danger" ng-click="model.deleteEvent(event)">Delete</button><br><br>-->
    <!--</div>-->
    <div class="row container-fluid events-css">
        <div class="col-sm-3 col-md-4 eve-css" id="div_requested_event_listing" ng-repeat="event in model.allEvents" ng-show="event in model.allEvents">
            <div class="panel panel-info panel-edit">
                <div ><h4>Event Name: </h4>{{event.eventName}}<br>
                    <h4>Event Description:</h4>{{event.eventDescription}}<br>
                    <h4>Event Time: </h4>{{event.eventTime}}<br>
                    <h4>Event Location:</h4> {{event.eventLocation}}<br>
                    <h4>Event Date:</h4> {{event.eventDate}}<br>

                </div>

                <div class=" hidden label label-danger" id="available{{event._id}}">
                    <label class="label label-success">You have RSVP for this event</label>
                </div>
                <div     id="rsvpButton{{event._id}}" >
                    <button class="btn btn-block btn-primary" ng-click="model.rsvpEvent(event)">RSVP</button><br><br>
                </div>

                <!--<div class="form-group">-->
                    <!--<div id="eventEditButtonDiv{{event._id}}" class=""><button class="btn btn-block btn-success" ng-click="model.editEvent(event._id)">Edit</button></div>-->
                    <!--<div id="eventUpdateButtonDiv{{event._id}}" class="hidden">-->
                        <!--<button class="btn btn-block btn-success" ng-click="model.updateEvent(event)">Update</button>-->
                    <!--</div>-->
                    <!--<button class="btn btn-block btn-danger" ng-click="model.deleteEvent(event)">Delete</button>-->
                    <!--<button class="btn btn-block btn-primary" ng-click="model.viewEvent(event)">View Event</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-toggleable-md">
</nav>
