<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">

            <a href="#/register">
                <div class="navbar-text btn btn-warning pull-right">

                <span class="glyphicon glyphicon-plus-sign"></span> Register
            </div>
                </a>


                <a href="#login">
                    <div class="navbar-text pull-right btn btn-success">

                    <span class="glyphicon glyphicon-user"></span>Login
                    </div>

                </a>

        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#/user/{{model.user._id}}">Profile</a>-->
        <!--</div>-->
    </div>
</nav>
<div class="">
    <img src="../../../images/trial/scenery.jpg" class="banner">
</div>
<div class="container-fluid">
    <div class="visible-xs">
        <div class="col-xs-12">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <input type="text" name="search" placeholder="Search.." class="search">
                <div class="dropdown pull-right">
                    <button onclick="myFunction()" class="dropbtn">
                        <span class="dropbtn glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a ng-click="model.getBookListingMobile(opt)" ng-repeat="opt in model.genreListings">{{opt}}</a>
                        <!--<a onclick="alert(this.text);">Arts & Photography</a>-->
                        <!--<a onclick="alert(this.text);">Biographies</a>-->
                        <!--<a onclick="alert(this.text);">Children Books</a>-->
                        <!--<a onclick="alert(this.text);">History</a>-->
                        <!--<a onclick="alert(this.text);">Literature & Fiction</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="text-align: center"><strong><p>Books Listing</p></strong></div>
        <div id="div_book_listing_mobile" class="col-xs-12" ng-show="model.books" ng-repeat="book in model.books">
            <div class="col-xs-3" >
                <div class="">
                    <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="listing-image">
                    <br><br>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-12">
                    <p class="p-word-wrap">{{book.volumeInfo.title}}<br>
                        {{book.volumeInfo.authors[0]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col col-md-3 border">
            <div class="col-md-12">
                <strong>Categories:</strong>
                <select ng-options="option for option in model.genreListings" ng-model="model.genre" ng-change="model.getBookListing()">
                <!--<select id="book-genre" onchange="model.getBookListing(this.selected);">-->
                    <!--<option value="Science Fiction">Science Fiction</option>-->
                    <!--<option value="Arts & Photography">Arts & Photography</option>-->
                    <!--<option value="Biographies">Biographies</option>-->
                    <!--<option value="Children Books">Children Books</option>-->
                    <!--<option value="History">History</option>-->
                    <!--<option value="Literature & Fiction">Literature & Fiction</option>-->
                    Science Fiction
                </select>
            </div>
        </div>
        <div class="col col-md-9 border">
            <div class="col-xs-12 label label-danger" style="text-align: center"><strong><h3>Books Listing</h3></strong></div>
           <!-- <div id="div_book_listing" class="col-xs-12" ng-show="model.books" ng-repeat="book in model.books">
                <div class="col-xs-3" >
                    <div class="col-xs-12">
                        <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="listing-image">
                        <br><br>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12">
                        <p>{{book.volumeInfo.title}}<br>
                            {{book.volumeInfo.authors[0]}}</p>
                    </div>
                </div>
            </div>-->
            <div class="row container-fluid">
            <div class="col-sm-6 col-md-4" id="div_book_listing" ng-show="model.books" ng-repeat="book in model.books">
                <div class="thumbnail">
                <img class="card-img-top same-height" ng-src="{{model.processImage(book.volumeInfo.imageLinks.thumbnail)}}" style="width:100%"/>
                    <div class="card-block">
                        <h4 class="card-title">{{book.volumeInfo.title}}</h4>
                        <p class="card-text">{{book.volumeInfo.authors[0]}}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <!--<a href="#/user/{{model.user._id}}">-->
            <!--<div class="navbar-text pull-right">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
            <!--</div>-->
        <!--</a>-->
    </div>
</nav>