<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <a hrref="">
            <div class="navbar-text pull-right">
                Register
            </div>
        </a>
        <a href="">
            <div class="navbar-text pull-right">
                Login
            </div>
        </a>
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#/user/{{model.user._id}}">Profile</a>-->
        <!--</div>-->
    </div>
</nav>

<div class="container">
    <div class="col-xs-12 block">Div 1</div>
    <div class="col-xs-12 block">
        <div class="col-xs-4 block">Div 2</div>
        <div class="col-xs-8 block">Div 3</div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <!--<a href="#/user/{{model.user._id}}">-->
            <!--<div class="navbar-text pull-right">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
            <!--</div>-->
        <!--</a>-->
    </div>
</nav>