<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <a hrref="">
            <div class="navbar-text pull-right">
                Register
            </div>
        </a>
        <a href="">
            <div class="navbar-text pull-right">
                Login
            </div>
        </a>
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#/user/{{model.user._id}}">Profile</a>-->
        <!--</div>-->
    </div>
</nav>

<div class="container">
    <div class="col-xs-12">
        <img src="../../../images/trial/scenery.jpg" class="banner">
    </div>
    <div class="col-xs-12">
        <div class="col-xs-3 border">
            <div class="col-xs-12">
                <form>
                    <input type="checkbox" name="book-genre" value="Science Fiction">
                    <input type="checkbox" name="book-genre" value="Novel">
                    <input type="checkbox" name="book-genre" value="Arts & Photography">
                    <input type="checkbox" name="book-genre" value="Biographies">
                    <input type="checkbox" name="book-genre" value="Children Books">
                    <input type="checkbox" name="book-genre" value="History">
                </form>
            </div>
        </div>
        <div class="col-xs-9 border">
            <div class="col-xs-12">
                <div class="col-xs-3" >
                    <div class="col-xs-12">
                        <img src="../../../images/trial/img1.jpg" width="60px" height="60px">
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12">
                        <p>Name: ABC<br>
                            Author: XYZ</p>
                    </div>
                </div>

            </div>
            <div class="col-xs-12">
                <p>Name: ABC 1 <br>
                    Author: XYZ 1</p>

            </div>
            <div class="col-xs-12">
                <p>Name: ABC 3 <br>
                    Author: XYZ 3</p>

            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <!--<a href="#/user/{{model.user._id}}">-->
            <!--<div class="navbar-text pull-right">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
            <!--</div>-->
        <!--</a>-->
    </div>
</nav>