<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand glyphicon glyphicon-chevron-left" href="#/">
            </a>
        </div>
    </div>
</nav>

<div class="container padding-top blurred-back">
        <!--<div class="text-center">-->
            <!--<img src="../../../images/icons/book.png" class="img-thumbnail">-->
        <!--</div>-->

    <h1 class="">Login</h1>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
            <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-user "></span></div>
        <input ng-model="user.username"
           class="form-control divTransparent"
           placeholder="username"/>
        </div>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
            <div class="input-group-addon divTransparent "><span class="glyphicon glyphicon-lock "></span></div>
            <input ng-model="user.password"
                class="form-control divTransparent"
                type="password"
                   placeholder="password"/></div>

    <a class="btn btn-primary btn-block"
       ng-click="model.login(user)">
        Login
    </a>
    <a href="/auth/facebook" class="btn btn-primary btn-block ">
        <span class="fa fa-facebook"></span>
        Facebook</a>
    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>

    <a class="btn btn-success btn-block"
       href="#/register">
        Register
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!--<a href="#/user/{{model.user._id}}">-->
        <!--<div class="navbar-text pull-right">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
        <!--</div>-->
        <!--</a>-->
    </div>
</nav>