<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid navbar-color">

        <div class="col-sm-12 hidden-xs ">


            <!--<a href="#/user/{{model.user._id}}" ng-click="showDiv = true; model.message=''">-->
            <!--<div class="navbar-text pull-left btn navbar-color">-->

            <!--<span class="glyphicon glyphicon-user" ></span> Edit Profile-->
            <!--</div>-->

            <!--</a>-->


        </div>





    </div>
</nav>

<div class="container-fluid padding-top">
    <div class="col-xs-12 border">Title in Bolds</div>
    <div class="col-xs-12 border ">
        <div class="col-xs-12" style="text-align: center"><strong><p>Events</p></strong></div>
        <div ng-show="model.error">{{model.error}}</div>
        <div id="div_requested_event_listing" ng-repeat="event in model.organizerEvents" ng-show="model.organizerEvents">
            <div class="col-xs-9">
                <div class="col-xs-12">
                    <!--<p>eventName: {{event.eventName}}<br>-->
                    <!--</p>-->
                    <!--<div ><br>-->
                        <!--Description:{{event.eventDescription}}</div>-->
                    <!--<div ><br>-->
                            <!--Location:{{event.eventLocation}}</div>-->
                    <!--<div ><br>-->
                        <!--Date:{{event.eventDate}}</div>-->
                    <!--<div ><br>-->
                        <!--Time:{{event.eventTime}}</div>-->
                    <!--<div >-->
                        <!--<button  class="btn btn-block btn-success" ng-click="model.redirect()">Update</button>-->
                        <!--<button class="btn btn-block btn-danger" ng-click="model.deleteEvent(event)">Delete</button><br><br>-->
                    <!--</div>-->

                    <div class="col-xs-9">
                        <div class="col-xs-12">
                            <div id="eventEditDiv{{event._id}}">Event Name: {{event.eventName}}<br>
                                Event Description:{{event.eventDescription}}<br>
                                Event Time: {{event.eventTime}}<br>
                                Event Location: {{event.eventLocation}}<br>
                                Event Date: {{event.eventDate}}<br>

                            </div>
                            <div id="eventUpdateDiv{{event._id}}" class="hidden">Event Name:<input type="text" ng-model="event.eventName"><br>
                                Event Description:<textarea ng-model="event.eventDescription"></textarea> <br>
                                Event Time:<input type="time" ng-model="event.eventTime"><br>
                                Event Location:<input type="text" ng-model="event.eventLocation"><br>
                                Event Date:<input type="date" ng-model="event.eventDate"><br>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="eventEditButtonDiv{{event._id}}" class=""><button class="btn btn-block btn-success" ng-click="model.editEvent(event._id)">Edit</button></div>
                            <div id="eventUpdateButtonDiv{{event._id}}" class="hidden"><button class="btn btn-block btn-success" ng-click="model.updateEvent(event)">Update</button></div>
                            <button class="btn btn-block btn-danger" ng-click="model.deleteEvent(event)">Delete</button><br><br>
                            <button class="btn btn-block btn-primary" ng-click="model.viewEvent(event)">View Event</button><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
