<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid navbar-color">

        <div class="col-sm-12 hidden-xs ">


            <!--<a href="#/user/{{model.user._id}}" ng-click="showDiv = true; model.message=''">-->
            <!--<div class="navbar-text pull-left btn navbar-color">-->

            <!--<span class="glyphicon glyphicon-user" ></span> Edit Profile-->
            <!--</div>-->

            <!--</a>-->


        </div>





    </div>
</nav>

<div class="container-fluid padding-top">
    <div class="col-xs-12 border">Title in Bolds</div>
    <div class="col-xs-12 border ">
        <div class="col-xs-12" style="text-align: center"><strong><p>Events</p></strong></div>
        <div ng-show="model.error">{{model.error}}</div>
        <div id="div_requested_event_listing" ng-repeat="event in model.organizerEvents" ng-show="model.organizerEvents">
            <div class="col-xs-9">
                <div class="col-xs-12">
                    <p>eventName: {{event.eventName}}<br>
                    </p>
                    <div ><br>
                        Description:{{event.eventDescription}}</div>
                    <div ><br>
                            Location:{{event.eventLocation}}</div>
                    <div ><br>
                        Date:{{event.eventDate}}</div>
                    <div ><br>
                        Time:{{event.eventTime}}</div>
                    <div >
                        <button  class="btn btn-block btn-success" ng-click="model.redirect()">Update</button>
                        <button class="btn btn-block btn-danger" ng-click="model.deleteEvent(event)">Delete</button><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
