<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-color">
        <div>
            <a class="navbar-brand glyphicon glyphicon-chevron-left" href="#/">
            </a>
        </div>
    </div>
</nav>
<div class="container padding-top">
    <!--<div class="text-center">-->
    <!--<img src="../../../images/icons/book.png" class="img-thumbnail">-->
    <!--</div>-->

    <h1 class="">Create an Event</h1>

    <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
        <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-bookmark"></span></div>
        <input ng-model="event.eventname"
               class="form-control divTransparent text-color"
               placeholder="Event name"/>
    </div>

    <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
        <div class="input-group-addon divTransparent "><span class="glyphicon glyphicon-list"></span></div>

        <input ng-model="event.description"
                  class="form-control divTransparent text-color"
                  placeholder="Describe your event"></input>
    </div>

    <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
        <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-pushpin"></span></div>
        <input ng-model="model.event.location"
               class="form-control divTransparent controls text-color"
               id="pac-input"
               placeholder="Location of the event"/>
        <!--<input  placeholder="Search Box" ng-model="model.event.location">-->
    </div>

<div>

</div>

    <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
        <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-calendar"></span></div>
        <input id="ui-datepicker"
               ng-model="event.date"
               class="form-control divTransparent text-color"
               placeholder="Date of the event"
               class="form-control" />
    </div>

    <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
        <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-time"></span></div>
        <input ng-model="event.time"
               class="form-control divTransparent text-color"
               placeholder="Time of the event"/>
    </div>



    <div>

    <a class="btn btn-success btn-block"
       ng-click="">Create Event</a>
</div>

    <div style="height: 500px;width:1140px" class="padding-top">

        <div id="map"></div>
    </div>


</div>









