<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script>

    var sendmail = require('../../../../node_modules/sendmail')({silent: true});

    sendmail({
        from: 'webdevproject2017@gmail.com',
        to: 'shohitdoon@gmail.com',
        replyTo: 'shohitdoon@gmail.com',
        subject: 'MailComposer sendmail',
        html: 'Mail of test sendmail '
    }, function (err, reply) {
        console.log(err && err.stack);
        console.dir(reply);
    })

</script>

</body>
</html>