<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand text-color navbar-header font-brand">
                <a style="text-decoration:none; color:navy;"  href="#/"><strong>BookHub</strong></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="#/admin/create" class="text-success bg-success">

                        <span id="add-glyphicon" class="glyphicon glyphicon-plus"> </span> Create Role
                    </a></li>
                <li class="nav-item ">
                    <a href="#/admin/profile">

                        <span class="glyphicon glyphicon-user" ></span> Manage Users


                    </a></li>


                <li class="nav-item ">
            <a href="#/admin/manageEvents">

                <span class="glyphicon glyphicon-bell"></span> Manage Events

            </a>
                </li>
                <li class="nav-item">
        <a href="#/admin/manageBooks">

                <span class="glyphicon glyphicon-user" ></span> Manage Books


        </a></li>

                <li class="nav-item">
                    <a href="" ng-click="model.logout()" >

                        <span class="glyphicon glyphicon glyphicon-log-out" ></span> Logout
                    </a></li></ul>
        </div>

    </div>
</nav>

<div class="container padding-top ">
    <h1>All Users of BookHub</h1>

    <div class="card hidden-xs admin-desk">
        <ul class="list-group list-group-flush">
            <li class="list-group-item active">
            <div class="row">
                <div class="col-md-3">
                    <strong>UserName</strong>
                </div>
                <div class="col-md-3">
                    <strong>FirstName</strong>
                </div>
                <div class="col-md-3">
                    <strong>LastName</strong>
                </div>

                <div class="col-md-2">
                    <strong>Role</strong>
                </div>
                <div class="col-md-1">
                    <strong ng-show="model.allusers">Action</strong>
                </div>
            </div>
            </li>
            <div class="scroller-admin">
            <li class="list-group-item" ng-repeat="user in model.allusers">
            <div class="row">
            <div class="col-md-3">
                <label>{{user.username}}</label>
            </div>
            <div class="col-md-3">
                <label>{{user.firstName}}</label>
            </div>
            <div class="col-md-3">
                <label>{{user.lastName}}</label>
            </div>
            <div class="col-md-2">
                    <label>{{user.role}}</label>
            </div>
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-6">
                            <a ng-click="model.deleteUsers(user._id,user.username)" href class=""><span id="delete-glyphicon" class="glyphicon glyphicon-trash"></span></a>
                    </div>
                    <div class="col-md-6">
                        <a ng-click="model.updateUsers(user)" href class=""><span id="edit-glyphicon" class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
            </div>
            </li>
            </div>


        </ul>
    </div>
    </div>
    <div class="card visible-xs text-center">
        <div class="card-block">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="user in model.allusers">
                    <div class="row">
                        <div class="col-xs-6 text-primary">
                            <p class="card-text">Username</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="card-text">{{user.username}}</p>
                        </div>
                    </div>
                    <div class="row">

                    <div class="col-xs-6 text-primary">
                        <p class="card-text">Firstname</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="card-text">{{user.firstName}}</p>
                    </div>
                    </div>
                    <div class="row">

                    <div class="col-xs-6 text-primary">
                        <p class="card-text">Lastname</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="card-text">{{user.lastName}}</p>
                    </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-6 text-primary">
                            <p class="card-text">Role</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="card-text">{{user.role}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-click="model.deleteUsers(user._id,user.username)" class="btn btn-block btn-white"><span id="delete-glyphicon" class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-click="model.updateUsers(user)" class="btn btn-block btn-white-edit"><span id="edit-glyphicon" class="glyphicon glyphicon-pencil"></span></a>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-toggleable-md">
</nav>
